body {
  font-size: 24px;
  font-family: futura, sans-serif;
  background-color: #fff;
  color: #666;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 2s;
}

#status-message {
  background-color: #ffffee;
  margin: 1em;
  padding: 1em;
}

button {
  text-transform: uppercase;
  color: #444;
  font-size: 0.8em;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border-width: 1px;
  border-color: #aaa;
  border-style: solid;
  font-family: futura;
  min-width: 44px;
  box-shadow: #444 0 0 4px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step > * {
  width: 60%;
  min-width: 320px;
}

.step svg,input {
  align-self: center;
}

.step input {
  font-size: 2em;
  width: 80%;
  min-width: 10em;
}

.instruction {
  font-style: italic;
  margin: 1em;
  text-align: center;
}

.instruction ol,ul {
  text-align: left;
}

.vertex-count-label,.triangle-side-count-label,.triangular-number-result-label {
  font-weight: bold;
  font-size: larger;
}

svg text {
  font-size: 6px;
  fill: #333;
  stroke: none;
}

.graph-vertex {
  fill: #999;
  stroke: none;
}

.graph-edge {
  stroke-width: 0.1;
}

#big-intro-graph-board .graph-edge {
  stroke-width: 0.01;
}

#big-intro-graph-board {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

#triangular-number-board {
}

.compare-panels-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.compare-panels-container > div {
  width: 320px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-panel {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-caption-with-svg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-caption-with-svg :first-child {
  width: 50%;
}

.side-caption-with-svg > svg {
  min-width: 320px;
  min-height: 320px;
  flex-grow: 1;
  max-width: 480px;
  max-height: 480px;
}

.variable {
  font-style: italic;
  font-weight: bold;
}

.key-point {
  text-align: center;
  background-color: #c0feb4;
  padding: 0.5em;
  border-radius: 0.5em;
}

.exhortation {
  font-weight: bold;
  font-size: 1.2em;
}

.important-term {
  font-style: italic;
  font-size: 1.4em;
  /*! padding: 0.5em; */
  /*! border-radius: 0.5em; */
}

#adjustable-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step table {
  border: solid 2px #666;
  width: 22em;
  border-collapse: collapse;
}

.step table thead {
  font-weight: bold;
}

.step table td {
  border: solid 1px #666;
  text-align: end;
  padding: 0.25em;
  width: 33%;
}

/* TODO: This needs some sort of divergent color scheme. */
.band-1 {
  background-color: rgb(253, 231, 37);
}
.band-2 {
  background-color: rgb(216, 226, 25);
}
.band-3 {
  background-color: rgb(176, 221, 47);
}
.band-4 {
  background-color: rgb(137, 213, 72);
}
.band-5 {
  background-color: rgb(101, 203, 94);
}
.band-6 {
  background-color: rgb(70, 192, 111);
}
.band-7 {
  background-color: rgb(46, 179, 124);
}
.band-8 {
  background-color: rgb(33, 165, 133);
}
.band-9 {
  background-color: rgb(31, 151, 139);
}
.band-10 {
  background-color: rgb(35, 137, 142);
}

#edge-example-container {
  display: flex;
  flex-direction: column;
}

#edge-example-container .complete-graph-board {
  align-self: center;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}

